.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.wrapper {
  dispaly: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.wrapper img {
  width: 150px;
  height: 180px;
}

.top-level {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: 30px;
}

.mid-level {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 30px;
}

.low-level {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}